Repository SE-TINF22B2/G5-DuoGradus, pull requests merged in 2024-04, with the labels that each got.

#62 Updates NestJS to the latest version
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.ts
  backend/src/app.service.ts
  backend/src/main.ts
  backend/test/src/app.controller.spec.ts
Labels: backend

#63 Add latest version of diagrams to the "docs" folder
  docs/02-technical/01-concept/Architekturentwurf.jpg
  docs/02-technical/01-concept/Backend_ ER-Diagramm.jpg
Labels: documentation

#68 Add documentation about the testing framework
  docs/03-development/testing.md
Labels: documentation, frontend, backend

#71 ping testing
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/test/app.e2e-spec.ts
  backend/test/jest-e2e.json
  backend/test/src/app.controller.spec.ts
Labels: backend

#73 Test coverage, test for app service
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.service.spec.ts
Labels: backend

#95 Adjust Prisma Configuration for Development
  backend/.gitignore
  backend/package.json
Labels: backend

#129 Add status reports to docs
  README.md
  docs/.vitepress/config.mts
  docs/index.md
  docs/reports/2023-kw41.md
  docs/reports/2023-kw42.md
  docs/reports/2023-kw43.md
  docs/reports/2023-kw44.md
  docs/reports/2023-kw45.md
  docs/reports/2023-kw46.md
  docs/reports/2023-kw47.md
  docs/reports/2023-kw48.md
  docs/reports/2024-kw15.md
  docs/reports/2024-kw16.md
  docs/reports/references.sh
  docs/reports/reports.md
  docs/reports/reports.sh
  docs/reports/template.md
Labels: documentation, enhancement

#130 Add language section to project guideline
  README.md
  docs/guidelines/project-guideline.md
Labels: documentation, enhancement

#145 Dev/logging configuration
  backend/docs/logging.md
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/logger/logger.service.ts
Labels: backend

#133 Allow users to change their email, displayName and password
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/api/user/patch.user.dto.ts
  backend/src/api/user/user.controller.spec.ts
  backend/src/api/user/user.controller.ts
  backend/src/app.module.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/auth.service.ts
  backend/src/db/repositories/user.repository.spec.ts
  backend/src/db/repositories/user.repository.ts
  backend/src/main.ts
  backend/src/types/request.type.ts
  docs/.vitepress/config.mts
  docs/development/authentication.md
  docs/development/overview.md
Labels: backend

#144 .env.example file
  backend/.env.example
Labels: backend
